// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #47bbb3;
$value-color:       #fff;

$title-color:       rgba(0, 0, 0, 1);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-hadoop-number {

  background-color: $background-color;
  h2 {
    font-size: 58px;
    font-weight: bold;
    margin: 0px;
  }
  .column-left{ float: left; width: 33%; font-size: 30px; text-align: left; padding: 20px 0 0 10px;}
  .column-right{ float: right; width: 23%; }
  .column-center{ display: inline-block; width: 44%; }
  .live {
    color: green;
  }
  .dead {
    color: red;
  }
  .deco {
    color: #111111;
  }

  .title {
    font-size: 38px;
    font-weight: bold;
    color: $title-color;
    margin: 0px;
    padding: 0px;
  }

  .value {
    color: $value-color;
  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
